$animation-duration: '300';
$hover-transition-duration: '200';

.card {
  @apply p-4 max-h-fit bg-white shadow rounded select-none overflow-hidden;

  &__header {
    @apply flex w-full items-center justify-between text-left;

    &Content {
      @apply sm:flex sm:flex-row;
    }

    &Icon{
      @apply text-lg transform duration-#{$animation-duration} motion-reduce:transition-none;

      &--clickable {
        @apply cursor-pointer rounded-sm border-0 bg-transparent p-0 transition
          duration-#{$hover-transition-duration} ease-in-out hover:text-blue-500
          focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500
          focus-visible:ring-offset-2 motion-reduce:transition-none;

        &:hover .card__subtitle {
          @apply text-blue-300;
        }
      }

      &--collapsed {
        @apply rotate-0;
      }
      
      &--expanded {
        @apply rotate-180;
      }
    }
  }

  &__title {
    @apply font-bold;
  }

  &__subtitle {
    @apply text-gray-500 sm:mt-auto sm:inline-flex;

    &Separator {
      @apply hidden sm:inline-block;
    }

    &--clickable {
      @apply transition duration-#{$hover-transition-duration} ease-in-out hover:text-blue-300;
    }
  }

  &__content {
    @apply grid transition-all duration-#{$animation-duration} ease-in-out motion-reduce:transition-none;

    &--collapsed {
      @apply grid-rows-[0fr];
    }

    &--expanded {
      @apply grid-rows-[1fr];
    }
  }

  &__contentWrapper{
      @apply pt-2;

      &--clipped {
        @apply overflow-hidden;
      }

      &--overflowVisible {
        @apply overflow-visible;
      }
  }
}
