@use 'sass:map';

$skill-colors: (
  ai: "amber",
  frontend: "green",
  backend: "blue",
  cloud: "fuchsia",
  tooling: "cyan",
  all: "red",
);

@mixin skill-colors($type) {
    $color: map.get($skill-colors, $type);

    @if $color {
        @apply bg-#{$color}-100 text-#{$color}-800 border-#{$color}-300;
    }
}

@mixin skill-colors-hover($type) {
    $color: map.get($skill-colors, $type);

    @if $color {
        @apply shadow
            bg-#{$color}-100
            text-#{$color}-800
            border-#{$color}-300
            hover:bg-#{$color}-200
            hover:shadow-none;
    }
}

@mixin skill-outline-colors($type) {
    $color: map.get($skill-colors, $type);

    @if $color {
        @apply bg-white
            border
            text-#{$color}-800
            border-#{$color}-300
            hover:bg-#{$color}-200;
    }
}
